/* You can add global styles to this file, and also import other style files */

.login-form{ width: 95%; margin: 2% auto;}
.login-form .form-group{ margin-bottom: 4px;}
.login-form .form-control{ height: 30px;}
.login-form .textarea{ height: 70px;}
.btn{ margin-top: 10px;}